* {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}
.main-heading {
	text-align: center;
	margin-top: 5rem;
}
div {
	border: 2px solid black;
	background-color: rgb(153, 153, 153);
}
p {
	margin-top: 2rem;
	padding: 1rem;
	font-weight: 500;
}
.container {
	margin-top: 3rem;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: none;
}
.chicken {
	position: relative;
	display: inline-block;
	background-color: rgba(153, 145, 145, 0.774);
	height: 12rem;
	width: 30%;
	box-sizing: border-box;
}
.chicken-title {
	color: white;
	width: 25%;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px 10px 5px 10px;
	font-weight: bold;
	background-color: rgb(213, 152, 152);
}
.beef {
	display: inline-block;
	background-color: rgba(153, 145, 145, 0.774);
	height: 12rem;
	width: 30%;
	box-sizing: border-box;
	margin-left: 1rem;
	margin-right: 1rem;
	position: relative;
}
.beef-title {
	color: white;
	width: 25%;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px 10px 5px 10px;
	font-weight: bold;
	background-color: rgb(193, 69, 67);
}
.sushi {
	display: inline-block;
	background-color: rgba(153, 145, 145, 0.774);
	height: 12rem;
	width: 30%;
	box-sizing: border-box;
	position: relative;
}
.sushi-title {
	color: white;
	width: 25%;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px 10px 5px 10px;
	font-weight: bold;
	background-color: rgb(229, 209, 152);
}
@media screen and (max-width: 992px) {
	.container {
		display: block;
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}
	.sushi {
		display: block;
		background-color: rgba(153, 145, 145, 0.774);
		width: 100%;
		margin-top: 2%;
	}
	.chicken {
		width: 49%;
		box-sizing: border-box;
	}
	.beef {
		float: right;
		width: 49%;
		box-sizing: border-box;
		margin: 0px;
	}
}
/* for mobile and tablet screen */
@media screen and (max-width: 767px) {
	.container {
		display: block;
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}
	.sushi {
		display: block;
		width: 100%;
		margin-bottom: 2%;
	}
	.chicken {
		display: block;
		width: 100%;
		margin-bottom: 2%;
	}
	.beef {
		float: none;
		display: block;
		width: 100%;
		margin: 0px;
		margin-bottom: 2%;
	}
}
